<?xml version="1.0" encoding="utf-8" ?>
	<configuration>
		<configSections>
			<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
		</configSections>
		<connectionStrings>
			<add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source = localhost:1521/XE;Persist Security Info=True;" />
		</connectionStrings>
		<oracle.manageddataaccess.client>
			<settings>
				<add name="VansComp" value="udtMapping factoryName='CourseWork.Model.VansComposition,
          CourseWork, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'
		  typeName='VANS_COMPOSITION' schemaName='MANAGER' dataSource='LOCALHOST:1521/XE'"/>
			</settings>
		</oracle.manageddataaccess.client>

</configuration>